<h3>Ingredients</h3>

<div class="row">
  <div class="col-md-12">
<% _.each(ingredients, function (ingredient) { %>
    <div class="well">
 
      <div class="caption">
      <a href="#recipes/<%=ingredient.ean%>" class="btn btn-success" role="button" style="float: right;margin: 0;margin-top: -3px;">Details</a>
        <h3 style="margin:0"><%=ingredient.title%></h3> 
      </div>
    
  </div>
<% }) %>
</div>
</div> 