<h3>Ingredients</h3>


<div class="row">
  <div class="col-md-12">
<% _.each(ingredients, function (ingredient) { %>
    <div class="well row">
  <div class="col-md-1">
    <img class="img-circle" style="max-width:100%;float:left" src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url=<%=encodeURIComponent("http:"+ingredient.image) %>&container=focus&resize_w=300&resize_h=300&refresh=31536000" alt="icon">
    </div>
  <div class="col-md-11"> 
 
         

        <h3 style="margin:0"><%=ingredient.title%></h3> 
        <% if(ingredient.price!=null) { %>
        <h4 style="color:#333"><%=ingredient.price?(ingredient.price/100.0).toFixed(2)+" CHF":"" %></h4>
        <% } %>
   
  </div>
    
  </div>
<% }) %>
</div>
</div> 