<h2><%=recipe.title%></h2> 
<div class="row">
<div class="  col-md-8"> 
IMAGE
  </div>
<div class=" col-md-4"> 
<h4>Ingredients</h4>
<ul>

<% _.each(recipe.ingredients, function (ingredient) { %>
  <li><%=ingredient.title %></li>
<% }) %>
</ul>
<button class="btn btn-success btn-block">Cook this recipe</button>
  </div>
  </div>

<h3>Steps</h3>
<% _.each(recipe.steps, function (step) { %>
  <li><%=step.title %></li>
<% }) %>