<h3>Recipes</h3>
<div class="row" style="margin-bottom:20px">
<div class="col-md-12">
 <input type="text" class="form-control input-lgmodal" placeholder="Search">
 
</div>
</div>
<div class="row">
<% _.each(recipes, function (recipe) { %>
  <div class="col-sm-6 col-md-4">
    <div class="well">
 <img   src="http://testmayihavethatrecipe.files.wordpress.com/2012/10/roasted-eggplant-soup-recipe1.jpg" style="max-width:100%" >

      <div class="caption">
        <h3><%=recipe.title%>
  <% if(recipe.missing >0){%>
                        	<span class="label label-danger"><%=recipe.missing%></span>
                        <% } %>
        </h3> 
        <p><a href="#recipes/<%=recipe.id%>" class="btn btn-success btn-block" role="button">Open Recipe</a>  </p>
      </div>
    </div>
  </div>
<% }) %>
</div> 